.mainnav ul{
    display: flex;
justify-content: center;
margin-top: 50px;
}
.mainnav{
    display: block;
    z-index: 5;
}
.mainnav ul li{
    margin: 0 24px;
    list-style: none;
    font-weight: bold;
}